* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  word-wrap: break-word;
}

:root {
  --gutter: 20%;
  --blue: #0084fd;
  --azur: #b5ddff;
  --purp: #9792e4;
}

/* HEADER */

header {
  padding: 0 var(--gutter);
  height: 80px;
  background-color: var(--blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

nav * {
  margin-left: 30px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  height: 80px;
}

nav a:hover {
  box-shadow: 0 -4px white inset;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

.logo {
  align-self: center;
}

nav button {
  border-style: none;
  background-color: white;
  padding: 8px 13px;
  border-radius: 20px;
  font-size: 1.1rem;
}

.burger {
  display: none;
}

.burger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

/* Jumbo Cards */

/* FONT OPTIONS */

#jumbo h2 {
  color: var(--blue);
  margin-bottom: 30px;
}

#jumbo p {
  color: #5a6e7f;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
}
/* END OF FONT OPTIONS */

.container {
  padding: 0 var(--gutter);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -15px;
}

#jumbo {
  height: 100%;
}

#jumbo .col {
  width: calc(100% / 3);
  min-height: fit-content;
  padding: 15px;
  flex-grow: 1 0;
}

#jumbo .col:first-of-type {
  width: calc(100% / 1.5);
}

.card {
  background-color: var(--azur);
  height: 100%;
  border-radius: 20px;
  padding: 25px;
}

#jumbo .card {
  text-align: center;
}

#jumbo .double {
  text-align: left;
  display: flex;
  gap: 30px;
}

#jumbo img {
  display: block;
  height: 100%;
  transform: translateY(25px);
  margin: auto;
  max-height: 300px;
}

.double div {
  width: 50%;
}

#jumbo button {
  background-color: var(--blue);
  color: white;
  font-size: 1.1rem;
  padding: 10px 40px;
  border-style: none;
  border-radius: 30px;
  margin-top: 30px;
}

#jumbo button i {
  margin-right: 10px;
}

#jumbo .card > i {
  color: var(--blue);
  font-size: 5rem;
  margin-bottom: 30px;
}

/* PLANNING SECTION */

/* FONT OPTIONS */

#planning h2 {
  color: white;
  margin: 30px 0;
  font-size: 2rem;
}

#planning h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

#planning p {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
}

#planning .imgcard p {
  color: black;
  font-style: italic;
  font-weight: 400;
}

/* END OF FONT OPTIONS */

#planning {
  background-color: var(--purp);
  height: 100%;
  padding: 60px 30px;
}

#planning .container {
  display: flex;
  justify-content: center;
  height: 100%;
}

#planning .img {
  width: calc(100% / 2 - 60px);
  padding: 30px;
}

#planning img {
  width: 100%;
  margin: 150px 0;
}

#planning .img:last-of-type {
  align-self: flex-end;
}

#planning .imgcard {
  background-color: white;
  border-radius: 30px;
  text-align: center;
  padding: 30px;
}

#planning .small {
  width: 80%;
  margin: 10px 0;
}

#planning .p-arrow {
  display: block;
  background-color: var(--purp);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* PARTNER SECTION */

/* FONT OPTIONS */

#partner h1 {
  color: var(--purp);
  margin: 20px 0;
  font-size: 4rem;
}

#partner p {
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 2rem;
}

#partner .quote p {
  text-align: left;
  color: white;
  font-weight: 300;
}

#partner .quote p::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
}

#partner .quote p::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
}

#partner .name {
  display: block;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: left;
  margin: 20px 0;
}

/* END OF FONT OPTIONS */

#partner {
  text-align: center;
  padding: 80px 0;
}

.quote {
  background-color: var(--purp);
  border-radius: 50px;
  color: white;
  height: 250px;
  width: 100%;
  margin: 30px 0;
  padding: 40px 20px;
  display: flex;
}

.quote .profile {
  clip-path: circle(85px at center);
}
.quote .profile img {
  width: 100%;
}

/* BENEFIT SECTION */

/* FONT OPTIONS */

#benefits h2 {
  color: white;
  margin: 80px 0;
  font-size: 4rem;
}

#benefits .number {
  color: var(--purp);
  margin: 80px 0;
  font-size: 4rem;
  font-weight: 700;
}

#benefits h3 {
  color: var(--purp);
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 800;
}

#benefits p {
  margin: 20px 0;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
}

/* END OF FONT OPTIONS */

#benefits {
  background-color: var(--purp);
  text-align: center;
  height: 100%;
}

#benefits .container {
  height: 100%;
}

#benefits .col {
  width: calc(100% / 3);
  padding: 20px;
}

#benefits .row {
  height: 100%;
}

#benefits .card {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  padding: 25px;
  text-align: left;
}

#benefits .more {
  border-style: none;
  background-color: var(--purp);
  padding: 10px 40px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  border-radius: 30px;
}

/* ABOUT US SECTION */

#about {
  padding: 60px 0;
}

#about .container {
  display: flex;
  gap: 30px;
}

#about .about-L {
  width: 75%;
}

#about .about-R {
  width: 25%;
}

.about-R * {
  display: block;
}

/* GET STARTED SECTION */

#started {
  background-color: var(--purp);
}

#started .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#started .container > * {
  display: block;
}

#started ul > li {
  display: inline-block;
}

/* FOOTER */

footer {
  background-color: #333333;
  text-align: center;
}

/* MEDIA QUERY */

/* TABLET VIEW */

@media screen and (max-width: 1080px) {
  #jumbo .double {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  #jumbo .double > div {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px;
  }

  nav {
    display: none;
  }

  .burger {
    display: block;
  }
  nav::after {
    content: "";
  }

  .container {
    padding: 20px;
  }
  #benefits .col {
    width: calc(100% / 2);
  }
  #benefits .container {
    height: 100%;
  }
}

/* SMARTPHONE VIEW */

@media screen and (max-width: 480px) {
  .col {
    width: 100% !important;
  }

  .container {
    display: block !important;
  }

  #jumbo {
    height: 100%;
  }

  #planning {
    height: 100%;
    padding: 0;
  }

  #planning .img {
    width: 100%;
  }
}
