* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gutter: 20%;
  --blue: #0084fd;
  --azur: #b5ddff;
  --purp: #9792e4;
}

header {
  padding: 0 var(--gutter);
  height: 80px;
  background-color: var(--blue);
}

.navbar {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

nav * {
  margin-left: 30px;
}

/* Jumbo Cards */

.container {
  padding: 0 var(--gutter);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -15px;
}

#jumbo .col {
  width: calc(100% / 3);
  height: 350px;
  padding: 15px;
}

#jumbo .col:first-of-type {
  width: calc(100% / 1.5);
}

.card {
  background-color: var(--azur);
  height: 100%;
  border-radius: 20px;
  padding: 25px;
}
